/* styles/main.css */
.main-div {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10em;
}

.main-title {
  text-align: center;
  margin-bottom: 2rem;
}

.no-posts {
  text-align: center;
}

/* Styles pour chaque post */
.post-container {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgb(85, 85, 85);
  background-color: var(--spider-bg);
}