/* Display Area */
.media-display {
  width: 100%;
  min-height: 300px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.main-media-image-post {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 15px;
}
.media-display:has(.main-media-videos) {
  background-color: black;
}
.main-media-videos {
  width: fit-content;
  height:fit-content;

}
.main-media-videos video {
  width: fit-content;
  height:100%;

}
.preview-video {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
  border-radius: 8px;
  overflow: hidden;
}

.main-media-audio {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.audio-preview {
  text-align: center;
  color: white;
  padding: 2rem;
}

.audio-preview-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main-media-file {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-preview-main {
  text-align: center;
  color: var(--text-secondary, #64748b);
}

.file-preview-main svg {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.file-name {
  display: block;
  font-size: 0.9rem;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media(max-width:946px){
  .main-media-videos {
  width: fit-content;
  height:400px;

}
.main-media-videos video {
  width: fit-content;
  height:100%;

}

}
@media(max-width:746px){
.main-media-videos {
  width: fit-content;
  height:220px;


}

}
