@import'./modules-post-card/post-card-audio.css';
@import './modules-post-card/post-card-base.css';
@import './modules-post-card/post-card-content-actions.css';
@import './modules-post-card/post-card-header.css';
@import './modules-post-card/post-card-media-slider.css';


.sponsored-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #6b7280; /* gris pro */
  background-color: #f3f4f6;
  border-radius: 6px;
}

.sponsored-icon {
  font-size: 16px;
  color: #6b7280;
}
