/* Main layout components */
.user-profile-bar {

  color: var(--spider-text);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  width: 100%;
  place-items: center;
  margin-top: 0em;
  margin:0;
  padding:0;
}

.category-section {
  width: 100%;
  margin-bottom: 60px;
  padding: 0 20px;
  margin-top: 3em;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}