/* variables.css */
:root {
  --spider-bg: #0A0A0F;
  --spider-primary: #000000;
  --spider-secondary: #032d50;
  --spider-text: #EAEAEA;
  --spider-subtext: #9CA3AF;
  --spider-danger: #FF4B4B;
  --spider-success: #00C853;
  --rgb--text:linear-gradient(100deg, var(--spider-primary), var(  --spider-success),var(--dark-text));
  /* Couleurs supplémentaires */
  --white: rgb(253, 251, 251);
  --dark-text: #00001d;
  --gold: #FFD700;
  --orange: #FFA500;
}
/* CSS Variables */
:root {
  --spider-bg: #0a0a0a;
  --spider-text: #ffffff;
  --spider-subtext: #cccccc;
};
@import '../../modules_colors/var.css';